<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">Нажмите чтобы запустить тест расчёта</h1>
        <a href="/api/calc">localhost:44328/api/calc</a>
    </section>
</main>